In [1]:
import findspark
findspark.init()
import pyspark

In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()
raw = spark.read.csv("StudentsPerformance.csv", inferSchema = True, header = True)

df = raw.select("*").withColumn("id", monotonically_increasing_id())
df.show()

+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+---+
|gender|race/ethnicity|parental level of education|       lunch|test preparation course|math score|reading score|writing score| id|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+---+
|female|       group B|          bachelor's degree|    standard|                   none|        72|           72|           74|  0|
|female|       group C|               some college|    standard|              completed|        69|           90|           88|  1|
|female|       group B|            master's degree|    standard|                   none|        90|           95|           93|  2|
|  male|       group A|         associate's degree|free/reduced|                   none|        47|           57|           44|  3|
|  male|       group C|               some college|    standard|                   none|        76|           78|           75|  4|
|female|       group B|         associate's degree|    standard|                   none|        71|           83|           78|  5|
|female|       group B|               some college|    standard|              completed|        88|           95|           92|  6|
|  male|       group B|               some college|free/reduced|                   none|        40|           43|           39|  7|
|  male|       group D|                high school|free/reduced|              completed|        64|           64|           67|  8|
|female|       group B|                high school|free/reduced|                   none|        38|           60|           50|  9|
|  male|       group C|         associate's degree|    standard|                   none|        58|           54|           52| 10|
|  male|       group D|         associate's degree|    standard|                   none|        40|           52|           43| 11|
|female|       group B|                high school|    standard|                   none|        65|           81|           73| 12|
|  male|       group A|               some college|    standard|              completed|        78|           72|           70| 13|
|female|       group A|            master's degree|    standard|                   none|        50|           53|           58| 14|
|female|       group C|           some high school|    standard|                   none|        69|           75|           78| 15|
|  male|       group C|                high school|    standard|                   none|        88|           89|           86| 16|
|female|       group B|           some high school|free/reduced|                   none|        18|           32|           28| 17|
|  male|       group C|            master's degree|free/reduced|              completed|        46|           42|           46| 18|
|female|       group C|         associate's degree|free/reduced|                   none|        54|           58|           61| 19|
+------+--------------+---------------------------+------------+-----------------------+----------+-------------+-------------+---+
only showing top 20 rows

In [20]:
df.createOrReplaceTempView('studentGrade')
result = spark.sql("SELECT id,gender,`math score`,`reading score`, `writing score`  FROM studentGrade where `math score` >=70 AND `reading score` >= 70 AND `writing score` >= 70")
result.show()

+---+------+----------+-------------+-------------+
| id|gender|math score|reading score|writing score|
+---+------+----------+-------------+-------------+
|  0|female|        72|           72|           74|
|  2|female|        90|           95|           93|
|  4|  male|        76|           78|           75|
|  5|female|        71|           83|           78|
|  6|female|        88|           95|           92|
| 13|  male|        78|           72|           70|
| 16|  male|        88|           89|           86|
| 24|  male|        74|           71|           80|
| 25|  male|        73|           74|           72|
| 34|  male|        97|           87|           82|
| 35|  male|        81|           81|           79|
| 36|female|        74|           81|           83|
| 38|female|        75|           90|           88|
| 49|  male|        82|           84|           82|
| 53|  male|        88|           78|           75|
| 54|female|        71|           84|           87|
| 56|female|        82|           85|           86|
| 60|  male|        79|           74|           72|
| 77|  male|        80|           78|           81|
| 85|female|        73|           80|           82|
+---+------+----------+-------------+-------------+
only showing top 20 rows